langchain
langchain_openai
ipykernel
langchain-chroma
bs4
langchain-community
langgraph
youtube_transcript_api
pytube
langchain_chroma
faiss-cpu
ionic_langchain
langchainhub
tavily-python
langchain
open_clip_torch 
torch\
unstructured[all-docs]
pydantic
lxml
tiktoken
chromadb
matplotlib
numexpr
cassio
pandas
seaborn
langchain_experimental
langchain-unstructured
fitz
frontend
tools
pymupdf
unstructured[pdf]
python-magic-bin
firecrawl-py

